.fll-left {
    float: left;
}
.fll-right {
    float: right;
}
html,body {
    background: #e6e6e6;
    font-size: 100%;
    height: 100%;
    overflow: hidden;


}
header {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b29562), color-stop(100%,#86704a));
    background: -webkit-linear-gradient(top,  #b29562 0%,#86704a 100%);
    background: linear-gradient(to bottom,  #b29562 0%,#86704a 100%);


    border-bottom: 1px solid #000;
    height: 43px;
    left: 0;
    line-height: 43px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

header button {
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);

    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%) ;
    -webkit-box-shadow: 0 1px 1px #242424, 0 -1px 1px #323232;
    border: solid 1px #54617d;
    border-color: #404040 #262626 #333333 #262626;
    border-radius: 5px;
    height: 26px;
    position: absolute;
    top: 8px;
    width: 40px;
}
header h1 {
    color: #fff;
    font-size: 130%;
    text-align: center;
    text-shadow: 0px -1px 1px #333;
    filter: dropshadow(color=#333, offx=-1, offy=-1);
    margin: 0;
}

.button-menu {
    left: 5px;
}
header button span {
    display: block;
    height: 100%;
    width: 100%;
}
.button-menu span {
    background: url(../img/ico-header-menu.png) no-repeat center center;

}
.button-destra {
    right: 5px;
}
.button-destra span {
    background: url(../img/ico-header-info.png) no-repeat center center;
}
.button-back {
    background-image: none;
    color: #fff;
    display: none;
    left: 5px;
}

.show-back .button-menu {
    display: none;
}
.show-back .button-back {
    display: block;
}

#wrapper {
    -webkit-box-shadow:  -5px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background: #e6e6e6;
    box-shadow:  -5px 0px 5px 0px rgba(0, 0, 0, 0.5);
    margin: 0 0 0 0;
    min-height: 100%;
    position: relative;
    top: 0;
    z-index: 20;
    width: 100%;
}
.layer-interna {
    /*
    display: none;
    height: 100%;
    position: relative;

    */
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 44px;


}
.layer-interna-show {
    display: block;
}
#page-landing {
    background: url(../img/homepage-bg.jpg) no-repeat 0 0;
    background-size: cover;
}

.landing-intro {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(18%,rgba(7,7,7,0.22)), color-stop(100%,rgba(39,38,40,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(7,7,7,0.22) 18%,rgba(39,38,40,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(7,7,7,0.22) 18%,rgba(39,38,40,1) 100%);

    bottom: 0;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: right;
}
.landing-intro img {
    margin: 15px 20px 0 0;
}

.landing-testo h1 {
    background: #262528;
    color: #b29562;
    font-size: 85%;
    font-weight: bold;
}
.landing-testo h1,
.landing-testo p {
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 5px 10px;
}
.landing-testo p {
    background: rgba(38,37,40,0.8);
    color: #fff;
    font-size: 80%;
}
#menu {
    -webkit-overflow-scrolling : touch;
    background: #262528;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 60px 0;
    position: fixed;
    top: 0;
    width: 73%;
    z-index: 10;
}
body.menu-open #menu {
}

.menu-logo {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.search {
    background: #262528;
    border-bottom: 1px solid #000;
    height: 43px;
    line-height: 43px;
    padding: 2px 20px 2px 5px;
}
.search input {
    -webkit-appearance: none;
    background: #fff;
    border: 0;
    border-radius: 10px;
    width: 100%;

}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu {
    
}
.menu a {
    background: #3e3d40;
    border-top: 1px solid #676767;
    border-bottom: 1px solid #333333;
    color: #fff;
    font-size: 95%;
    display: block;
    padding: 8px 10px 8px 40px;
    text-decoration: none;
}
.menu li.menu-haschild > a {
    background: #262528;
    color: #b29562;
    padding: 5px 10px;
}

.menu-home a {
    background: #3e3d40 url(../img/menu-home.png) no-repeat 5px center;
}
.menu-prodotti ul li a {
    background: #3e3d40 url(../img/menu-bottiglia.png) no-repeat 13px center;
}

.menu-azienda a {
    background: #3e3d40 url(../img/menu-azienda.png) no-repeat 5px center;
}
.menu-foto a {
    background: #3e3d40 url(../img/menu-foto.png) no-repeat 5px center;
}
.menu-contatti a {
    background: #3e3d40 url(../img/menu-contatti.png) no-repeat 5px center;
}
.menu-mappa a {
    background: #3e3d40 url(../img/menu-mappa.png) no-repeat 5px center;
}


.menu-news a {
    background: #3e3d40 url(../img/menu-news.png) no-repeat 5px center;
}
.menu-eventi a {
    background: #3e3d40 url(../img/menu-eventi.png) no-repeat 5px center;
}


.list-product {
    background-color: #f1f1f2;
    background-size: cover;
    height: 100%;
    overflow: hidden;
   /* padding: 43px 0 0 0;*/
}
.product-listitem-container {
    -webkit-overflow-scrolling : touch;
    background: #cccccc;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 40;
   
}
.product-listitem-name {
    background: #262528;
    color: #b29562;
    padding: 2px 5px;
    font-size: 90%;
}
.product-listitem {    
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.product-listitem > li {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    /*
    height: 100px;
    overflow: hidden;
    */
}
.product-listitem > li a {
    display: block;
    text-decoration: none;
}
.product-listitem .prodotto-img {
    float: left;
    margin: 0 5px 0 0;
    overflow: hidden;
    width: 100px;
}
.product-listitem .prodotto-img img {
    width: 100%;
}
.product-listitem .prodotto-titolo {
    color: #000;
    font-weight: bold;
    font-size: 105%;
    margin: 10px 0 0 0;
}
.product-listitem .prodotto-sottotitolo,
.product-listitem .prodotto-codice {
    color: #808080;
    font-size: 80%;
    margin: 0
}

.product-detail {
    -webkit-overflow-scrolling : touch;
    background: #3e3d40;
    display: none;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.product-detail-content {
    
}
.product-detail-show {
    display: block;
}

.product-detail-layer {
    display: none;
}

.product-detail.product-detail-layer-info-show .product-detail-layer-info {
    display: block;
}
.product-detail.product-detail-layer-scheda-show .product-detail-layer-scheda {
    display: block;
}
.product-detail.product-detail-layer-doc-show .product-detail-layer-doc {
    display: block;
}
.product-detail.product-detail-layer-video-show .product-detail-layer-video {
    display: block;
}
.product-detail.product-detail-layer-foto-show .product-detail-layer-foto {
    display: block;
}


.prodotto-toolbox {
background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,rgba(62,61,64,1)), color-stop(100%,rgba(31,30,32,1)));
background: -webkit-linear-gradient(top,  rgba(62,61,64,1) 39%,rgba(31,30,32,1) 100%);
background: linear-gradient(to bottom,  rgba(62,61,64,1) 39%,rgba(31,30,32,1) 100%);

    border-top: 1px solid #d0d0d1;
    border-bottom: 1px solid #d0d0d1;
    display: none;
    padding: 0;
    list-style: none;
    width: 100%;
}

.isSmartphone .product-detail .prodotto-toolbox {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    position: fixed;
    z-index: 10;
}
.prodotto-toolbox li {
    background: url(../img/prodotto-toolbox-separator.gif) repeat-y top right;
    
    cursor: pointer;
    display: inline-block;
    font-size: 70%;
    font-weight: bold;
    height: 60px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 0px 1px 1px #000;
    width: 22%
}
.prodotto-toolbox li span {
    color: #d0d0d1;
    display: block;
    margin: 10px 0 0 0;
    padding: 30px 0 0 0;
    width: 100%;
}
.prodotto-toolbox li:nth-child(1) span {
    background: url(../img/ico-info.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(2) span {
    background: url(../img/ico-scheda.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(3) span {
    background: url(../img/ico-documenti.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(5) span {
    background: url(../img/ico-video.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(4) span {
    background: url(../img/ico-foto.png) no-repeat center top;   
}

.prodotto-toolbox li.prodotto-toolbox-active span {
    color: #fff;
    background-position: center -125px;
}

.product-listitem > li.showToolbox .prodotto-toolbox {
    display: block;
}

.product-detail .prodotto-img {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 250px;
    padding: 0 0 10px 0;
    text-align: center;
}
.product-detail .prodotto-img img {
    max-height: 100%;
    max-width: 100%;
}
.product-detail .prodotto-info {
    height: 30px;
}
.product-detail h1 {
    background: #f1f1f2;
    border-bottom: 1px solid #e6e6e6;
    color: #000;
    font-size: 90%;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 10px;
    position: relative;
    white-space: nowrap;
}
.product-detail h1 span {
    color: #808080;
}
.product-detail .prodotto-icona {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38px;
}
.product-detail.product-detail-layer-info-show .prodotto-icona {
    background: url(../img/layer-info.png) center center no-repeat;
}
.product-detail.product-detail-layer-scheda-show .prodotto-icona {
    background: url(../img/layer-scheda.png) center center no-repeat;
}
.product-detail.product-detail-layer-doc-show .prodotto-icona {
    background: url(../img/layer-documenti.png) center center no-repeat;
}
.product-detail.product-detail-layer-video-show .prodotto-icona {
    background: url(../img/ico-video.png) center center no-repeat;
}
.product-detail.product-detail-layer-foto-show .prodotto-icona {
    background: url(../img/ico-foto.png) center center no-repeat;
}
.product-detail-layer {
    margin: 0 0 80px 0;
}
.product-detail .prodotto-testo {
    background: #f1f1f1;
    overflow: hidden;
    padding: 10px;
}

.prodotto-documento {
    background: #fff;
    margin: 0 0 1px 0;
    padding: 2px 10px;
}
.prodotto-documento a {
    background: url( ../img/ico-download.png) right top no-repeat;
    color: #3e3d40;
    display: block;
    text-decoration: none;
}

.product-detail-layer-scheda,
.product-detail-layer-doc,
.product-detail-layer-video {
    border-top: 10px solid #3e3d40;
    padding: 5px 0;
}
.product-detail-layer-foto {
    background: #3e3d40;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 40;
}

.accordion-label {
    background: url(../img/accordion-close.png) #f1f1f2 99% center no-repeat;
    color: #000;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
.prodotto-accordion-open .accordion-label {
    background: url(../img/accordion-open.png) #f1f1f2 99% center no-repeat;
}
.prodotto-accordion .accordion-testo {
    display: none;
    font-size: 80%;
}

.accordion-testo {
    background: #fff;
    border-top: 1px solid #d0d0d1;
    padding: 0 10px 10px 10px;
}

.accordion-testo p {
    padding: 5px 0 5px 30px;
}
.accordion-testo p span {
    float: left;
    font-weight: bold;
    margin: 0 0px 3px 0;
    min-width: 110px;

}

.prodotto-vitigno {
    background: url(../img/ico-vitigno.gif) no-repeat left center;
}
.prodotto-bouquet {
    background: url(../img/ico-bouquet.gif) no-repeat left center;
}
.prodotto-colore {
    background: url(../img/ico-colore.gif) no-repeat left center;
}
.prodotto-gusto {
    background: url(../img/ico-gusto.gif) no-repeat left center;
}
.prodotto-accostamenti {
    background: url(../img/ico-accostamenti.gif) no-repeat left center;
}
.prodotto-temperaturadiservizio {
    background: url(../img/ico-temperaturadiservizio.gif) no-repeat left center;
}
.prodotto-nrbottigliepercartone {
    background: url(../img/ico-nrbottigliepercartone.gif) no-repeat left center;
}
.prodotto-nrcartoniperstrato {
    background: url(../img/ico-nrcartoniperstrato.gif) no-repeat left center;
}
.prodotto-nrcartonipallet {
    background: url(../img/ico-nrcartonipallet.gif) no-repeat left center;
}
.prodotto-nrstratipallet {
    background: url(../img/ico-nrstratipallet.gif) no-repeat left center;
}
.prodotto-dimensionecartone {
    background: url(../img/ico-dimensionecartone.gif) no-repeat left center;
}
.prodotto-pesocartoneinKg {
    background: url(../img/ico-pesocartoneinKg.gif) no-repeat left center;
}
.prodotto-pesopalletinKg {
    background: url(../img/ico-pesopalletinKg.gif) no-repeat left center;
}
.prodotto-bottiglia {
    background: url(../img/ico-bottiglia.gif) no-repeat left center;
}
.prodotto-contenuto {
    background: url(../img/ico-contenuto.gif) no-repeat left center;
}
.prodotto-gradazione {
    background: url(../img/ico-gradazione.gif) no-repeat left center;
}
.prodotto-acidita {
    background: url(../img/ico-acidita.gif) no-repeat left center;
}

.prodotto-areadiproduzione {
    background: url(../img/ico-areadiproduzione.gif) no-repeat left center;
}

            /*
==========================================================================
 MOBILE (min-width 480px)
========================================================================== */
   @media only screen and (min-width: 320px) and (max-width: 979px)  and (orientation: portrait){
    .product-detail h1 span {
        display: block;
    }


}
/*TABLET*/
@media only screen and (min-width: 768px) and (orientation: portrait){

   .product-listitem-container {
     position: relative;
     width: 40%;
   }
   .product-detail {
    width: 60%;
   }
   #menu {
    min-width: 320px;
	width: 40%
	}
    .prodotto-toolbox li{
        font-size: 70%;
    }
    .product-detail .prodotto-img {
        height: 500px;
    }
    .product-detail h1 {
        font-size: 150%;
    }
    .product-detail-content {
        margin: 10px;
    }
    .product-detail-layer {
    margin: 0;
    }

    .landing-testo h1 {
        font-size: 150%;
    }
    .landing-testo p {
        font-size: 100%;
    }
    .prodotto-accordion .accordion-testo {        
        font-size: 90%;
    }

}
@media only screen and (min-width: 1024px) and (orientation: landscape){

   .product-listitem-container {
     position: relative;
     width: 35%;
   }
   .product-detail {
    width: 65%;
   }
   #menu {
    min-width: 320px;
	width: 35%
	}
    .prodotto-toolbox li{
        font-size: 70%;
    }
    .product-detail .prodotto-img {
        height: 500px;
    }
    .product-detail h1 {
        font-size: 150%;
    }
    .product-detail-content {
        margin: 10px;
    }
    .product-detail-layer {
    margin: 0;
    }

    .landing-testo h1 {
        font-size: 150%;
    }
    .landing-testo p {
        font-size: 100%;
    }

    .prodotto-accordion .accordion-testo {        
        font-size: 90%;
    }
}























.swipe {
    background: #fff;
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 100%;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  position: relative;
  text-align: center;
  width:100%;
}
.swipe-wrap img {
    max-width: 100%;
}

#position {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#position li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #141414;
    box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
    margin: 0 2px;
    cursor: pointer;
}

#position li.on {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b29562), color-stop(100%,#86704a));
    background: -webkit-linear-gradient(top,  #b29562 0%,#86704a 100%);
    background: linear-gradient(to bottom,  #b29562 0%,#86704a 100%);
}