.fll-left {
    float: left;
}
.fll-right {
    float: right;
}
html,body {
    background: #e6e6e6;
    font-size: 100%;
    height: 100%;
    overflow: hidden;


}
header {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b29562), color-stop(100%,#86704a));
    background: -webkit-linear-gradient(top,  #b29562 0%,#86704a 100%);
    background: linear-gradient(to bottom,  #b29562 0%,#86704a 100%);


    border-bottom: 1px solid #000;
    height: 43px;
    left: 0;
    line-height: 43px;
    position: fixed;
    top: 0;
    width: 100%;
}

header button {
    background: #50432c url(../img/header-ico-sprite.png) no-repeat 0 center;
    border: 1px solid #000;
    border-radius: 5px;
    height: 26px;
    position: absolute;
    top: 8px;
    width: 40px;
}
header h1 {
    font-size: 130%;
    text-align: center;
    margin: 0;
}

.button-menu {
    background-position: center 4px;
    left: 5px;
}
.button-impostazioni {
    background-position: center -32px;
    right: 5px;
}

#wrapper {
    -webkit-box-shadow:  -5px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background: #e6e6e6;
    box-shadow:  -5px 0px 5px 0px rgba(0, 0, 0, 0.5);
    margin: 0 0 0 0;
    min-height: 100%;
    position: relative;
    top: 0;
    z-index: 20;
    width: 100%;
}
.layer-interna {
    /*
    display: none;
    height: 100%;
    position: relative;

    */
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 44px;


}
.layer-interna-show {
    display: block;
}
#page-landing {
    background: url(../img/homepage-bg.jpg) no-repeat 0 0;

    background-size:cover;
}
.landing-testo {
    bottom: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

.landing-testo h1 {
    background: #262528;
    color: #b29562;
    font-size: 85%;
    font-weight: bold;
}
.landing-testo h1,
.landing-testo p {
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 5px 10px;
}
.landing-testo p {
    background: rgba(38,37,40,0.8);
    color: #fff;
    font-size: 80%;
    max-height: 150px;
}
#menu {
    background: #b29562;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 73%;
    z-index: 10;
}
body.menu-open #menu {
    z-index: 30;
}
.search {
    background: #262528;
    border-bottom: 1px solid #000;
    height: 43px;
    line-height: 43px;
    padding: 2px 20px 2px 5px;
}
.search input {
    -webkit-appearance: none;
    background: #fff;
    border: 0;
    border-radius: 10px;
    width: 100%;

}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu {
    
}
.menu a {
    background: #3e3d40;
    border-top: 1px solid #676767;
    border-bottom: 1px solid #333333;
    color: #fff;
    font-size: 95%;
    display: block;
    padding: 8px 10px 8px 40px;
    text-decoration: none;
}
.menu li.menu-haschild > a {
    background: #262528;
    padding: 5px 10px;
}

.menu-home a {
    background: #3e3d40 url(../img/menu-home.png) no-repeat 5px center;
}
.menu-prodotti ul li a {
    background: #3e3d40 url(../img/menu-bottiglia.png) no-repeat 13px center;
}

.menu-azienda a {
    background: #3e3d40 url(../img/menu-azienda.png) no-repeat 5px center;
}
.menu-foto a {
    background: #3e3d40 url(../img/menu-foto.png) no-repeat 5px center;
}
.menu-contatti a {
    background: #3e3d40 url(../img/menu-contatti.png) no-repeat 5px center;
}
.menu-mappa a {
    background: #3e3d40 url(../img/menu-mappa.png) no-repeat 5px center;
}


.menu-news a {
    background: #3e3d40 url(../img/menu-news.png) no-repeat 5px center;
}
.menu-eventi a {
    background: #3e3d40 url(../img/menu-eventi.png) no-repeat 5px center;
}


.list-product {
    background-color: #f1f1f2;
    background-size: cover;
    height: 100%;
    overflow: hidden;
   /* padding: 43px 0 0 0;*/
}
.product-listitem-container {
    background: #cccccc;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
   
}
.product-listitem {    
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.product-listitem > li {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    /*
    height: 100px;
    overflow: hidden;
    */
}
.product-listitem > li a {
    display: block;
    text-decoration: none;
}
.product-listitem .prodotto-img {
    float: left;
    margin: 0 5px 0 0;
    overflow: hidden;
    width: 100px;
}
.product-listitem .prodotto-img img {
    width: 100%;
}
.product-listitem .prodotto-titolo {
    color: #000;
    font-weight: bold;
    font-size: 105%;
    margin: 10px 0 0 0;
}
.product-listitem .prodotto-sottotitolo,
.product-listitem .prodotto-codice {
    color: #808080;
    font-size: 80%;
    margin: 0
}

.product-detail {
    background: #3e3d40;
    display: none;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
}
.product-detail-content {
    
}
.product-detail-show {
    display: block;
}

.product-detail-layer {
    display: none;
}

.product-detail.product-detail-layer-info-show .product-detail-layer-info {
    display: block;
}
.product-detail.product-detail-layer-scheda-show .product-detail-layer-scheda {
    display: block;
}
.product-detail.product-detail-layer-doc-show .product-detail-layer-doc {
    display: block;
}
.product-detail.product-detail-layer-video-show .product-detail-layer-video {
    display: block;
}
.product-detail.product-detail-layer-foto-show .product-detail-layer-foto {
    display: block;
}


.prodotto-toolbox {
    background: #353535;
    border-top: 1px solid #e6e6e6;
    display: none;
    list-style: none;
    padding: 5px 0;
    width: 100%;
}

.isSmartphone .product-detail .prodotto-toolbox {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    position: fixed;
    z-index: 10;
}
.prodotto-toolbox li {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 75%;
    padding: 30px 0 0 0;
    text-align: center;
    width: 20%
}
.prodotto-toolbox li:nth-child(1) {
    background: url(../img/ico-info.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(2) {
    background: url(../img/ico-scheda.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(3) {
    background: url(../img/ico-documenti.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(4) {
    background: url(../img/ico-video.png) no-repeat center top;   
}
.prodotto-toolbox li:nth-child(5) {
    background: url(../img/ico-foto.png) no-repeat center top;   
}

.prodotto-toolbox li.prodotto-toolbox-active {
    background-position: center -125px;
}

.product-listitem > li.showToolbox .prodotto-toolbox {
    display: block;
}

.product-detail .prodotto-img {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 250px;
    padding: 0 0 10px 0;
    text-align: center;
}
.product-detail .prodotto-img img {
    max-height: 100%;
    max-width: 100%;
}
.product-detail .prodotto-info {
    height: 30px;
}
.product-detail h1 {
    background: #f1f1f2;
    border-bottom: 1px solid #e6e6e6;
    color: #000;
    font-size: 90%;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 10px;
    position: relative;
    white-space: nowrap;
}
.product-detail h1 span {
    color: #808080;
}
.product-detail .prodotto-icona {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38px;
}
.product-detail.product-detail-layer-info-show .prodotto-icona {
    background: url(../img/layer-info.png) center center no-repeat;
}
.product-detail.product-detail-layer-scheda-show .prodotto-icona {
    background: url(../img/layer-scheda.png) center center no-repeat;
}
.product-detail.product-detail-layer-doc-show .prodotto-icona {
    background: url(../img/layer-documenti.png) center center no-repeat;
}
.product-detail.product-detail-layer-video-show .prodotto-icona {
    background: url(../img/ico-video.png) center center no-repeat;
}
.product-detail.product-detail-layer-foto-show .prodotto-icona {
    background: url(../img/ico-foto.png) center center no-repeat;
}
.product-detail-layer {
    margin: 0 0 80px 0;
}
.product-detail .prodotto-testo {
    background: #f1f1f1;
    overflow: hidden;
    padding: 10px;
}

.prodotto-documento {
    background: #fff;
    margin: 0 0 1px 0;
    padding: 2px 10px;
}
.prodotto-documento a {
    background: url( ../img/ico-download.png) right top no-repeat;
    color: #3e3d40;
    display: block;
    text-decoration: none;
}

.product-detail-layer-scheda,
.product-detail-layer-doc,
.product-detail-layer-video {
    border-top: 10px solid #3e3d40;
    padding: 5px 0;
}
.product-detail-layer-foto {
    background: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-label {
    background: url(../img/accordion-close.png) #f1f1f2 99% center no-repeat;
    color: #000;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
.prodotto-accordion-open .accordion-label {
    background: url(../img/accordion-open.png) #f1f1f2 99% center no-repeat;
}
.prodotto-accordion .accordion-testo {
    display: none;
    font-size: 80%;
}

.accordion-testo {
    background: #fff;
    border-top: 1px solid #d0d0d1;
    padding: 0 10px 10px 10px;
}

.accordion-testo p {
    padding: 5px 0 5px 30px;
}
.accordion-testo p span {
    float: left;
    font-weight: bold;
    margin: 0 0px 3px 0;
    min-width: 130px;

}

.prodotto-vitigno {
    background: url(../img/ico-vitigno.gif) no-repeat left center;
}
.prodotto-bouquet {
    background: url(../img/ico-bouquet.gif) no-repeat left center;
}
.prodotto-colore {
    background: url(../img/ico-colore.gif) no-repeat left center;
}
.prodotto-gusto {
    background: url(../img/ico-gusto.gif) no-repeat left center;
}
.prodotto-accostamenti {
    background: url(../img/ico-accostamenti.gif) no-repeat left center;
}

            /*
==========================================================================
 MOBILE (min-width 480px)
========================================================================== */
   @media only screen and (min-width: 320px) and (max-width: 979px)  and (orientation: portrait){
    .product-detail h1 span {
        display: block;
    }

}
/*TABLET*/
@media only screen and (min-width: 768px) and (orientation: portrait){

   .product-listitem-container {
     width: 40%;
   }
   .product-detail {
    width: 60%;
   }
   #menu {
    min-width: 320px;
	width: 40%
	}
    .prodotto-toolbox li{
        font-size: 85%;
    }
    .product-detail .prodotto-img {
        height: 500px;
    }
    .product-detail h1 {
        font-size: 150%;
    }
    .product-detail-content {
        margin: 10px;
    }
    .product-detail-layer {
    margin: 0;
    }

    .landing-testo h1 {
        font-size: 150%;
    }
    .landing-testo p {
        font-size: 100%;
    }
    .prodotto-accordion .accordion-testo {        
        font-size: 90%;
    }

}
@media only screen and (min-width: 1024px) and (orientation: landscape){

   .product-listitem-container {
     width: 35%;
   }
   .product-detail {
    width: 65%;
   }
   #menu {
    min-width: 320px;
	width: 35%
	}
    .prodotto-toolbox li{
        font-size: 85%;
    }
    .product-detail .prodotto-img {
        height: 500px;
    }
    .product-detail h1 {
        font-size: 150%;
    }
    .product-detail-content {
        margin: 10px;
    }
    .product-detail-layer {
    margin: 0;
    }

    .landing-testo h1 {
        font-size: 150%;
    }
    .landing-testo p {
        font-size: 100%;
    }

    .prodotto-accordion .accordion-testo {        
        font-size: 90%;
    }
}





















#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  margin:10px;
  padding:100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 100%;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
