html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  z-index: 1;
  background: #333;
  overflow: auto;
  opacity: 0;
  -webkit-transition: opacity 0s 0.5s; }
  #menu ul {
    display: block;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
    .menu-voce {
      background: #4d4d4d;
    }
    .menu-padre {
      background: #666666;
    }
    .menu-livello-due li {
      padding: 0 0 0 10px;
    }
    .menu-search {
      background: #363636;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
    }
    .menu-search input {
      border: 0;
      border-radius: 10px;
      width: 90%;
      padding: 2% 5%;
    }
    #menu ul li a {
      display: block;
      padding: 10px;
      color: #fff;
      text-shadow: 0 1px 0 #000;
      font-weight: bold;
      text-decoration: none;
      }
      #menu ul li a.active {
        background-color: #336c95; }


.handler {
  display: none; }
  .handler#handler-right:checked {
    opacity: 1;
    -webkit-transition: opacity 0s 0s;
    -moz-transition: opacity 0s 0s; }
  .handler#handler-right:checked ~ #wrapper {
    -webkit-transform: translate3D(-30%, 0, 0);
    -moz-transform: translate3D(-30%, 0, 0); }
    .handler#handler-right:checked ~ #wrapper #content {
      overflow: hidden; }
  .handler#handler-left:checked ~ #menu {
    opacity: 1;
    -webkit-transition: opacity 0s 0s;
    -moz-transition: opacity 0s 0s; }
  .handler#handler-left:checked ~ #wrapper {
    -webkit-transform: translate3D(30%, 0, 0);
    -moz-transform: translate3D(30%, 0, 0); }
    .handler#handler-left:checked ~ #wrapper #content {
      overflow: hidden; }

#wrapper {
  position: relative;
  z-index: 2;
  background: #F5F5F5;
  height: 100%;
  box-shadow: 0 0 3px #000;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out; }
  #wrapper #button {
    height: 40px;
    padding: 0 10px;
    background: #61aefa;
    background: -moz-linear-gradient(top,  #61aefa 0%, #4a84c2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61aefa), color-stop(100%,#4a84c2));
    background: -webkit-linear-gradient(top,  #61aefa 0%,#4a84c2 100%);
    background: -o-linear-gradient(top,  #61aefa 0%,#4a84c2 100%);
    background: -ms-linear-gradient(top,  #61aefa 0%,#4a84c2 100%);
    background: linear-gradient(to bottom,  #61aefa 0%,#4a84c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61aefa', endColorstr='#4a84c2',GradientType=0 );

    line-height: 40px; }
    #wrapper #button label {
      color: #666;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer; }
      #wrapper #button label:hover {
        color: #336c95; }
      #wrapper #button label#right {
        float: right; }
  #wrapper #content {
    padding: 10px;
    color: #666;
    line-height: 1.5em;
    font-size: .9em;
    font-weight: 300;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    #wrapper #content p:not(:last-child) {
      margin-bottom: 20px; }
